{{define "free_func.tmpl"}}
{{- if .Doc}}// {{.Name}} {{.Doc}}{{else}}// {{.Name}} wraps the CEF {{.RawGoName}} function.{{end}}
func {{.Name}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{$p.Name}} {{$p.PublicType}}{{end}}){{if not .Return.IsVoid}} {{.Return.PublicType}}{{end}} {
	{{- range .Params}}{{with marshalPreamble .}}
	{{.}}
	{{- end}}{{end}}
	{{- if .Return.IsVoid}}
	capi.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{marshalParamForRawFunc $p}}{{end}})
	{{- else if .Return.IsBool}}
	return capi.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{marshalParamForRawFunc $p}}{{end}}) != 0
	{{- else if .Return.IsEnum}}
	return {{.Return.PublicType}}(capi.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{marshalParamForRawFunc $p}}{{end}}))
	{{- else if .Return.IsString}}
	return goStringUserfree(unsafe.Pointer(capi.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{marshalParamForRawFunc $p}}{{end}})))
	{{- else if .Return.IsInterface}}
	return wrap{{.Return.PublicType}}(capi.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{marshalParamForRawFunc $p}}{{end}}))
	{{- else if .Return.IsNumeric}}
	return {{.Return.PublicType}}(capi.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{marshalParamForRawFunc $p}}{{end}}))
	{{- else if .Return.IsPointer}}
	return capi.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{marshalParamForRawFunc $p}}{{end}})
	{{- else}}
	return {{.Return.PublicType}}(capi.{{.RawGoName}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{marshalParamForRawFunc $p}}{{end}}))
	{{- end}}
}
{{end}}
