{{define "object_wrapper.tmpl"}}
type {{lower .Name}}Impl struct {
	rawPtr *capi.{{.RawGoName}}
}

{{range .Methods}}
func (obj *{{lower $.Name}}Impl) {{.Name}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{$p.Name}} {{$p.PublicType}}{{end}}){{if not .Return.IsVoid}} {{.Return.PublicType}}{{end}} {
	{{- range .Params}}
	{{- $pre := marshalPreamble .}}
	{{- if $pre}}
	{{$pre}}
	{{- end}}
	{{- end}}
	{{- with methodPreamble $.Name .}}
{{.}}{{- end}}
	{{- $hasPost := hasMarshalPostamble .Params}}
	{{- if needsTypedObjectCall .}}
	var fn {{typedObjectFuncSig $.RawGoName .}}
	registerTypedCallback(&fn, obj.rawPtr.{{.RawFieldName}})
	{{- if .Return.IsVoid}}
	fn({{typedObjectCallArgs .}})
	{{- range .Params}}{{with marshalPostamble .}}
	{{.}}
	{{- end}}{{end}}
	{{- else}}
	ret := fn({{typedObjectCallArgs .}})
	{{- range .Params}}{{with marshalPostamble .}}
	{{.}}
	{{- end}}{{end}}
		{{- if .Return.IsBool}}
	return ret != 0
		{{- else if .Return.IsEnum}}
	return {{.Return.PublicType}}(ret)
		{{- else if .Return.IsString}}
	return goStringUserfree(unsafe.Pointer(ret))
		{{- else if .Return.IsInterface}}
	return {{wrapFuncName .Return.PublicType}}(unsafe.Pointer(ret))
		{{- else if .Return.IsDataStruct}}
	return ({{.Return.PublicType}})(unsafe.Pointer(ret))
		{{- else if .Return.IsPointer}}
	return unsafe.Pointer(ret)
		{{- else if .Return.IsNumeric}}
			{{- if isFloatPublicType .Return.PublicType}}
	return ret
			{{- else}}
	return {{.Return.PublicType}}(ret)
			{{- end}}
		{{- else}}
	return {{.Return.PublicType}}(ret)
		{{- end}}
	{{- end}}
	{{- else if .Return.IsVoid}}
	obj.rawPtr.Call{{.RawFieldName}}({{marshalCallArgs .Params}})
	{{- range .Params}}{{with marshalPostamble .}}
	{{.}}
	{{- end}}{{end}}
	{{- else}}
	ret := obj.rawPtr.Call{{.RawFieldName}}({{marshalCallArgs .Params}})
	{{- range .Params}}{{with marshalPostamble .}}
	{{.}}
	{{- end}}{{end}}
		{{- if .Return.IsBool}}
	return ret != 0
		{{- else if .Return.IsEnum}}
	return {{.Return.PublicType}}(ret)
		{{- else if .Return.IsString}}
	return goStringUserfree(unsafe.Pointer(ret))
		{{- else if .Return.IsInterface}}
	return {{wrapFuncName .Return.PublicType}}(unsafe.Pointer(ret))
		{{- else if .Return.IsDataStruct}}
	return ({{.Return.PublicType}})(unsafe.Pointer(ret))
		{{- else if .Return.IsPointer}}
	return unsafe.Pointer(ret)
		{{- else if .Return.IsNumeric}}
	return {{.Return.PublicType}}(ret)
		{{- else}}
	return {{.Return.PublicType}}(ret)
		{{- end}}
	{{- end}}
}
{{end}}

func (obj *{{lower .Name}}Impl) RawPointer() unsafe.Pointer {
	return unsafe.Pointer(obj.rawPtr)
}

{{if .IsScoped}}
func wrap{{.Name}}(ptr unsafe.Pointer) {{.Name}} {
	if ptr == nil {
		return nil
	}
	r := (*capi.{{.RawGoName}})(ptr)
	return &{{lower .Name}}Impl{rawPtr: r}
}
{{else}}
// Release releases the underlying CEF object.
func (obj *{{lower .Name}}Impl) Release() {
	if obj.rawPtr == nil {
		return
	}
	rawPtr := obj.rawPtr
	obj.rawPtr = nil
	runtime.SetFinalizer(obj, nil)
	base := (*capi.CEFBaseRefCountedT)(unsafe.Pointer(rawPtr))
	base.CallRelease()
}

func wrap{{.Name}}(ptr unsafe.Pointer) {{.Name}} {
	if ptr == nil {
		return nil
	}
	r := (*capi.{{.RawGoName}})(ptr)
	base := (*capi.CEFBaseRefCountedT)(ptr)
	base.CallAddRef()
	impl := &{{lower .Name}}Impl{rawPtr: r}
	runtime.SetFinalizer(impl, (*{{lower .Name}}Impl).Release)
	return impl
}
{{end}}
{{end}}
